body {
    font-family: Verdana, 'Times New Roman';
    background-color: #000000;
    color: #FFFFFF;
    margin: 25px;
}

h1 {
    font-size: 48px;
    text-align: center;
    padding: 15px;
}

h2 {
    font-size: 32px;
    text-shadow: 2px 4px #808080;
}

p {
    font-size: 24px;
    padding-bottom: 15px;
    padding-left: 15px;
}

img {
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 10px dashed white;
}

div {
    min-height: 100px;
    padding: 20px;
    border: 3px solid white;
}

.intro {
    border-radius: 15px;
    margin-top: 15px;
}

.red {
    background-color: #FF0000;
    text-align: right;
    margin-left: 50px;
    border-top: solid 0px;
    border-bottom: solid 3px;
    border-left: solid 10px;
    border-right: solid 0px;
}

.blue {
    background-color: #0000FF;
    text-align: left;
    margin-right: 50px;
    border-top: solid 0px;
    border-bottom: solid 3px;
    border-right: solid 10px;
    border-left: solid 0px;
}

.yellow {
    color: #000000;
    background-color: #FFFF00;
    text-align: right;
    margin-left: 50px;
    border-bottom: solid 3px white;
    border-left: solid 10px white;
    border-right: solid 0px;
    border-top: solid 0px;
}

.yellow h2 {
    text-shadow: 2px 4px #c7e2c7;
}

.green {
    background-color: #008500;
    text-align: left;
    margin-right: 50px;
    border-right: solid 10px;
    border-left: solid 0px;
    border-bottom: solid 3px;
    border-top: solid 0px;
}

span {
    text-decoration: underline;
    text-transform: uppercase;
    text-shadow: none;
}

footer {
    background: linear-gradient(90deg,#000000 0%, #0000FF 25%, #0066ff 70%, #000000 100%);
}

footer p {
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}